In [1]:
import pandas as pd

In [5]:
intent = 'watch_tv'
phrases = ['Включи телевизор', 'Включи первый канал', 'Включи музыку', 'Сделай погромче', 'Поставь таймер']
df = pd.DataFrame({"phrases":phrases})
df.head()

               phrases
0     Включи телевизор
1  Включи первый канал
2        Включи музыку
3      Сделай погромче
4       Поставь таймер

In [10]:
df.index = range(1, len(df.index)+1)

In [11]:
df.head()

               phrases
1     Включи телевизор
2  Включи первый канал
3        Включи музыку
4      Сделай погромче
5       Поставь таймер

In [25]:
df.rename(columns={'phrases':'text'}, inplace=True)
df= df.reset_index()

In [24]:
df['index'] = df['index'].apply(lambda x: str(x) + '.pseudo')
df["expected_intent"] = intent
df.head()

             index                 text expected_intent
0  1.pseudo.pseudo     Включи телевизор        watch_tv
1  2.pseudo.pseudo  Включи первый канал        watch_tv
2  3.pseudo.pseudo        Включи музыку        watch_tv
3  4.pseudo.pseudo      Сделай погромче        watch_tv
4  5.pseudo.pseudo       Поставь таймер        watch_tv